html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(228, 230, 231);
    text-align: center;
    font-family: 'Open Sans',
        sans-serif;
        font-size: 1.5vw;
}

h1 {
    font-family: 'Kanit',
        sans-serif;
    font-size: 4vw;
}

.intro {
    height: 90vh;
}

.btn-main,
.btn {
    padding: 2% 2%;
    width: 30%;
    border-radius: 10px;
    opacity: 0.8;
    font-size: 1.8vw;
    display: block;
    margin: 10% auto 5% auto;
}

.btn-main {
    border: none;
    background-color: rgb(73, 0, 73);
    opacity: 0.8;
    color: white;
}

.btn {
    border: 3px solid rgb(73, 0, 73);
}

a {
    text-decoration: none;
}

.start,
.start:link,
.start:visited {
    color: white;
}


.next,
.next:link,
.next:visited {
    color: rgb(73, 0, 73);
}

.btn:hover,
.btn-main:hover {
    transition: 0.1s linear;
    opacity: 1;
}

.btn:hover {
    background-color: rgb(73, 0, 73);
    color: white;
}

.q-box {
    background-color: white;
    font-size: 1.2em;
    width: 50%;
    margin: 40vh auto;
    height: 40vh;
    padding: 5% 3%;
    border-radius: 20px;
    border: 0.5px solid rgb(206, 204, 204);
    box-shadow: 10px -4px 30px -18px rgba(158, 155, 158, 1);
}

input[type=radio] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(73, 0, 73);
    border: 1px solid rgb(73, 0, 73);
    transition: 0.05s ease-out;
    border-radius: 50%;
    margin-right: 4px;
    position: relative;
    top: 4px;
}

input[type=radio]+label {
    margin-right:20px;
}

input[type=number],
select {
    width: 50%;
    margin: auto;
    color: rgb(73, 0, 73);
    height: 30px;
    padding: 5px;
    border-radius: 8px;
    display: block;
}

select {
    height: 40px;
    outline: none;
}

input::placeholder {
    color: rgb(73, 0, 73);
    font-size: 1.2vw;
}

input:focus,
select:focus {
    outline: none;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
    border: rgb(73, 0, 73) 3px solid;
    outline: none;
    font-size: 1.2vw;
}

input:checked {
    background-image: none;
    border: 6px solid rgb(73, 0, 73);
    background-color: white;
}

p {
    font-weight: bold;
}